:root {
    --main-0: #16262E;
    --main-1: #2E4756;
    --main-2: #3C7A89;

    --color-0: #9FA2B2;
    --color-1: #DBC2CF;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-1);
}

.slider-container {
    height: 426px;
    margin: auto;
    margin-top: 8%;
    width: 640px;
}

.slide {
    background-color: var(--main-0);
    border: 10px solid var(--main-0);
    display: flex;
    height: 446px;
    overflow: hidden;
    width: 660px;
}

.slide img {
    height: 426px;
    position: absolute;
    transition: 1000ms;
    width: 640px;
}

.img1 {
    opacity: 1;
}

.img2 {
    opacity: 0;
}

.img3 {
    opacity: 0;
}

.img4 {
    opacity: 0;
}

.nav-container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 300px;
}

.dot {
    background-color: var(--color-0);
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    margin-top: 15%;
    transition: 400ms;
    width: 13px;
}

.dot:hover, .active {
    background-color: var(--color-1);
    transform: scale(1.3);
}

.arrow {
    background-color: var(--main-1);
    border-top: 3px solid var(--color-0);
    border-left: 3px solid var(--color-0);
    cursor: pointer;
    height: 20px;
    margin-top: 15%;
    width: 20px;
}

#left {
    margin-right: 20px;
    transform: rotate(-45deg);
}

#right {
    margin-left: 20px;
    transform: rotate(135deg);
}

.arrow:hover {
    border-color: var(--color-1);
}